<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>edit [[${product.title}]] &ndash; fhh</title>
</head>
<body>
<a th:href="@{/templates/catalogue-api/products/{productId}(productId=${product.id})}">К товару товарам</a>
<div data-th-if="${errors}">
    <h2>Ошибка</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<h1 th:text="${product.title}"></h1>
<form method="post" data-th-action="@{/templates/catalogue-api/products/{productId}/edit(productId=${product.id})}">
    <label>
        Название:<br>
        <input type="text" name="title" data-th-value="${payload != null ? payload.title : product.title}">
    </label><br>
    <label>
        Описание:<br>
        <textarea name="details" data-th-text="${payload != null ? payload.details : product.details}"></textarea>
    </label><br>
    <button type="submit">Изменить</button>
</form>
</body>
</html>