<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${product.title}]] &ndash; fhh</title>
</head>
<body>
<a th:href="@{/catalogue/products/list}">К товарам</a>
<h1 th:text="${product.title}"></h1>
<ul>
  <li><strong>ID</strong>: <span th:text="${product.id}"></span></li>
  <li><strong>Название</strong>: <span th:text="${product.title}"></span></li>
  <li><strong>Детали</strong>: <span th:text="${product.details}"></span></li>
</ul>
</body>
</html>