<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Список товаров</title>
</head>
<a data-th-href="@{/templates/catalogue-api/products/create}">создать товар</a>
<h1> list</h1>
<table>
  <thead>
  <tr>
    <th>#</th>
    <th>pr</th>
  </tr>
  </thead>
  <tbody>
  <tr data-th-each="product : ${products}">
    <td data-th-text="${product.id}"></td>
    <td>
      <a data-th-href="@{/templates/catalogue-api/products/{productId}(productId=${product.id})}"
         data-th-text="${product.title}"></a>
    </td>
  </tr>

  </tbody>
</table>
<body>
$END$
</body>
</html>