<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый товар</title>
</head>
<body>
<a th:href="@{/templates/catalogue-api/products/list}">&larr; К списку товаров</a>
<h1>Новый</h1>

<div data-th-if="${errors}">
    <h2>Ошибка</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<form method="post" th:action="@{/templates/catalogue-api/products/create}">
    <label>
        Название:<br>
        <input type="text" name="title" data-th-value="${payload?.title}">

    </label><br>
    <label>
        Описание:<br>
        <textarea name="details" data-th-text="${payload?.details}"></textarea>
    </label><br>
    <button type="submit">Создать</button>
</form>
</body>
</html>